.wrap {
  position: relative;
  width: 400px;
}

.wrap img {
  display: block;
  width: 100%;
}

.image_overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  opacity: 0;
  transition: opacity 0.25s;
}

.image_overlay > * {
  transform: translateY(20px);
  transition: transform 0.25s;
}

.image_overlay:hover {
  opacity: 1;
}

.image_overlay:hover > * {
  transform: translateY(0);
}