nav li {
  text-transform: uppercase;
  font-weight: 600;
}

.wrap-nav {
  transform: translateY(0px);
}

.is-fixed {
  display: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
  animation: popDown 400ms cubic-bezier(.59,.36,.41,.83);
}

li a{
  position: relative;
}

li a:after {
  content: '';
  position: absolute;
  display: block;
  height: 0.1em;
  width: 0%;
  background-color: rgb(6 182 212);
  transition: all ease-in-out 250ms;
}

li a:hover::after{
  width: 100%;
}

li a:hover {
  color: rgb(6 182 212);
}

ul .active {
  position: relative;
}

ul .active:after {
  content: '';
  position: absolute;
  display: block;
  height: 0.1em;
  width: 100%;
  background-color: rgb(6 182 212);
}

@keyframes popDown {
  0% {
    transform: translateY(-70px);
  }
  100% {
    transform: translateY(0px);
  }
}