.icon-1 {
  animation: popIcon 600ms cubic-bezier(0.68, -0.6, 0.32, 1.6) forwards 600ms;
  transform: scale(0);
}

.icon-2 {
  animation: popIcon 600ms cubic-bezier(0.68, -0.6, 0.32, 1.6) forwards 300ms;
  transform: scale(0);
}

.icon-3 {
  animation: popIcon 600ms cubic-bezier(0.68, -0.6, 0.32, 1.6) forwards;
  transform: scale(0);
}

.trace {
  animation: showTrace 1s ease-out forwards;
  height: 0;
}

@keyframes showTrace {
  to {
    height: 130px;
  }
}

@keyframes popIcon {
	
  to {
    transform: scale(1);
  }
}